:root {
  --website-background: #f3f1ff;
  --section-background: #ffffff;
  --primary-color: #562eff;
  --secondary-color: #000000;
  --paragraph-color: #9f9f9f;
  --divider-color: #d1d1d1;
  --course-title-color: #1e1e1e;
  --course-instractor-color: #ed6b4f;
  --review-color: #ffc014;
  --timer-bg: #fee5df;
  --timer-color: #ff4a60;
}
/* --------------------------------------------------------------------------------------------------

                                        utilites style start

-------------------------------------------------------------------------------------------------- */
/* google font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--website-background);
}
main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container {
  width: 100%;
  max-width: 870px;
  margin: 0 auto;
  background-color: var(--section-background);
  padding: 30px;
  border-radius: 5px;
}
hr {
  margin: 30px 0;
  border: 1px solid var(--divider-color);
}
/* --------------------------------------------------------------------------------------------------

                                        utilites style end

-------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------------------------

                                        header start

-------------------------------------------------------------------------------------------------- */

.header {
  background-color: var(--primary-color);
  padding: 20px 0;
}
.header-wrapper {
  width: 870px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  gap: 15px;
  align-items: center;
}
.logo img {
  width: 40px;
  height: 50px;
}
.logo h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: var(--section-background);
}
nav.navbar {
  display: flex;
  gap: 20px;
  align-items: center;
}
.navbar a {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: var(--section-background);
}


/* 
--------------------------------------------------------------------------------------------------

                                        header end

-------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------

                                        top Players and blogs section start

-------------------------------------------------------------------------------------------------- */
.players-section {
  margin-top: 36px;
}
.section-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: var(--primary-color);
  margin-top: 3px;
}
.top-players {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
  gap: 16px;
}
.player img {
  width: 56px;
  height: 56px;
}

/* top blogs */
.top-blogs {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 26px;
  column-gap: 80px;
}
.blog {
  display: flex;
  gap: 16px;
}
.blog-thumbnail img {
  width: 177px;
  height: 117px;
}
.blog-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  color: var(--secondary-color);
  margin-bottom: 6px;
}
.blog-author {
  font-size: 16px;
  line-height: 24px;
  color: var(--paragraph-color);
}
.blog-author span {
  color: var(--primary-color);
}

/* --------------------------------------------------------------------------------------------------

                                        top Players and blogs section end

-------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------------------------

                                        top courses section start

-------------------------------------------------------------------------------------------------- */
.latest-courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 23px;
}
.latest-course {
  padding: 15px;
  width: 250px;
  height: 270px;
  filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
  box-shadow: 0px 5px 10px rgb(0 0 0 / 5%);
  border-radius: 15px;
}
.course-thumbnail img {
  width: 224px;
  height: 104px;
}
.course-title {
  font-weight: 500;
  font-size: 20.0336px;
  line-height: 23px;
  color: var(--course-title-color);
  margin-top: 20px;
}
.course-instractor {
  font-size: 14.6913px;
  line-height: 17px;
  color: var(--course-instractor-color);
  margin-top: 7px;
  margin-bottom: 20px;
}
.review [class$="star"] {
  color: var(--review-color);
}
.review .rating {
  margin-left: 10px;
}
.review .time {
  float: right;
  padding: 4px 6px;
  background-color: var(--timer-bg);
  color: var(--timer-color);
  font-weight: 600;
  font-size: 14.6913px;
  line-height: 20px;
  border-radius: 50px;
  margin-top: -4px;
}
/* --------------------------------------------------------------------------------------------------

                                        courses section end

-------------------------------------------------------------------------------------------------- */
/* ----------------------------
           Responsive 
----------------------------- */
/* laptop */
@media only screen and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .blog {
    flex-direction: column;
  }
  .latest-courses {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  }
  /* header */
  .header-wrapper {
    width: 100%;
    padding: 0 30px;
  }
}
/* tablet device */
@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  /* top-players */
  .top-players {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog {
    flex-direction: column;
  }
  .top-blogs {
    row-gap: 35px;
    column-gap: 0;
  }
  .latest-courses {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 0;
  }
  /* header */
  .header-wrapper {
    width: 100%;
    padding: 0 30px;
  }
}
/* mobile device */
@media only screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
  /* top-players */
  .top-players {
    grid-template-columns: repeat(1, 1fr);
  }
  .player,
  .blog {
    flex-direction: column;
  }
  /* blog */
  .top-blogs {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 50px;
  }
  .blog {
    gap: 5px;
  }
  /* course */
  .latest-courses {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .latest-course {
    margin-bottom: 20px;
  }
  /* header */
  .header-wrapper {
    width: 100%;
    flex-direction: column;
  }
}
